h1 {
     font-size: 20px;
     line-height: 30px;
} 

h2{
   font-size: 18px;
   line-height: 27px;
}
h3{
    font-size: 16px;
    line-height: 14px;
}

p {
    font-size: 14px;
    line-height: 14px;
}

pre {
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
}

ul{
    font-size: 14px;
    line-height: 21px;
}

.link{
    text-decoration: underline;
    }

  body {
    color: #000000;
    text-align: left;
     }


 